.name{
  font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
     border-top: 1px solid;
     border-bottom: 1px solid;
}
.on{
  width: 60px;
}
